/* #FED123 */

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
/* NAVBAR */

.navbar-default {
	background-color:transparent;
	border-color:transparent;
	background-image:none;
	box-shadow:none;	
	color:#fff;
}

a.navbar-brand.logo {
	color: #FED123;
   
}

/* INICIO HOME */

#home{
	background-color:black;
	background-image: url(../img/header-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
}

.btn-default{
  background-color: #FED123;
  padding: 11px 20px;
  border-radius: 2px;
}

/* SEGUNDA SECCION: SERVICES */
/* TERCERA SECCION: PORTFOLIO */
/* CUARTA SECCION: ABOUT */
/* QUINTA SECCION: OUR AMAZING TEAM */
/* SEXTA SECCION: CONTACT US */
/* FOOTER */

